/* .admin-ac-whole{
    
} */
.admin-academy {
    max-width: 1000px;
    margin: 0 auto;
    padding-left: 100px;
  }
  
  .admin-academy h2 {
    text-align: center;
    color: white;
  }
  
  .academy-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .academy-box {
    text-align: center;
    margin: 10px;
    padding: 10px;
    width: 200px; /* Adjust as needed */
    background-color: #e7e4e4;
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease-in-out;
  }
  
  .academy-box:hover {
    transform: scale(1.1);
  }
  
  .academy-box p {
    margin-top: 5px;
  }
  
  .academy-box img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  /* Search Box */
  .admin-academy-text {
    flex: 1;
    padding: 0.6rem;
    border-radius: 5rem 0 0 5rem;
    border: none;
    outline: none;
  }
  
  .search-button {
    background: #fff;
    border: none;
    padding: 0.6rem;
    border-radius: 0 5rem 5rem 0;
    cursor: pointer;
  }
  
  .search-icon {
    color: #777;
  }
  
  /* Academy Actions (Edit and Delete) */
  .academy-actions {
    margin-top: 10px;
  }
  
  .academy-actions button {
    margin: 5px;
    padding: 5px 10px;
    background-color: #3E3939;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .admin-view-courses-button{
    /* padding-top: 10px; */
    background-color:  #3E3939;
  }
  .admin-view-button-whole{
    padding-top: 10px;
  }
  .academy-actions button:hover {
    background-color: #8E8B82;
  }
  .academyEdit{
    padding-top: 10px;
  }
  .academyEdit button{
    margin: 5px;
    padding: 5px 10px;
    background-color:#3E3939;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: background-color 0.3s ease;
  }
  .academyEdit button:hover{
    background-color: #8E8B82;
  }
  .modal-header{
    display: flex;
    /* flex-wrap: wrap; */
    /* justify-content: space-around; */
  }
  .close-button{
    background-color: #fff;
    color: #232323;
    font-size: 30px;
  }
  .close-button:hover{
    background-color: #232323;
    color:#fff;
  }
  .modal-close-button{
    padding-top: 5px;
    margin-left: 315px;
    
  }
  .add-academy-form{
    padding-top: 50px;
  }
/* 
  .common-edit-button {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: #4c00b4;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .common-edit-button:hover {
    background-color: #35006e;
  } */